*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 10vw 6vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: red; */
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}
#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 800;
}
.line h2{
    position: absolute;
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    /* background-color: red; */
    right: 23%;
}
@keyframes now {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    width: 100%;
    height: 100vh;
    background: #151515;
}