* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

#cursor {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    border: 1px solid #ffffffbb;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: #030303;
    padding: 10vw 6vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: red; */
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

#line1-part1 h5 {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 800;
}

.line h2 {
    position: absolute;
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    /* background-color: red; */
    right: 23%;
}

@keyframes now {
    0% {
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    width: 100%;
    height: 100vh;
    background: #151515;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.1vw 4.8vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.center {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.center:nth-child(2) {
    margin-top: 16vh;
}

.center h1 {
    font-size: 7.3vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}

.center h2 {
    font-size: 7.3vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s; */
}

.center h2:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding-top: 20vh;
    position: relative;
}

#video-container {
    width: 72.2vw;
    height: 75vh;
    position: relative;
    left: 27%;
}

#video-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor {
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: 80%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cursor i {
    font-size: 2.3vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    padding: 5vh;
    overflow-x: hidden;
}

#page4-content {
    width: 72vw;
    margin-left: 25vw;
}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
}

#page4-content .underline {
    height: 1.5px;
    width: 93%;
    background: #ffffffb2;
    margin-top: 5.5vw;
    margin-bottom: 3vw;
}

#page4-content>p {
    font-size: 2.1vw;
    font-weight: 300;
    width: 50%;
    margin-bottom: 4vw;
}

#page4-flex {
    display: flex;
}

#page4-flex img {
    width: 47%;
}

#page4-flex p {
    margin-left: 2vw;
    font-size: 1.1vw;
    width: 22%;
    font-weight: 100;
    line-height: 1.4vw;
}

#page4-blue {
    background-color: #3f7df4;
    width: 32vw;
    padding: 3vw 2.5vw;
    position: relative;
    margin-top: -32vh;
    margin-left: 23.5vw;
}

.blue-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2.2vw 0;
    border-bottom: 0.12vw solid #ffffffa2;
}

.blue-elem h4 {
    font-size: 1.7vw;
    font-weight: 300;
}

.blue-elem p {
    width: 40%;
    font-size: 1vw;
}

#page5 {
    min-height: 100vh;
    width: 100%;
}