* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

.mousefollower {
    border: 0.7vw solid #ffffff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: #030303;
    padding: 10vw 6vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: red; */
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

#line1-part1 h5 {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 800;
}

.line h2 {
    position: absolute;
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    /* background-color: red; */
    right: 23%;
}

@keyframes now {
    0% {
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main {
    position: relative;
    background-color: #151515;
}

#page1 {
    width: 100%;
    height: 100vh;
    background: #151515;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8vw 6vw;
    /* background: red; */
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.center {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: center;

}

.center:nth-child(2) {
    margin-top: 11.4vh;
}

.center h1 {
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 6.75vw;
    position: relative;
}

#center1::before {
    content: "01";
    position: absolute;
    font-family: "silk serif";
    font-weight: 500;
    font-size: 3.2vw;
    top: 25%;
    left: 17%;
}

.center h2 {
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s; */
}

.center h2:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}
#flag{
    height: 25vw;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#center3{
    /* background-color: red; */
    z-index: 999;
    position: relative;
}
#page2 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    margin-top: 19vh;
    /* margin-bottom: 4vh; */
    position: relative;
}

#video-container {
    width: 73vw;
    height: 76vh;
    position: relative;
    left: 27%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-position: center;
    background-size: cover;
}


#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursor {
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    left: 80%;
    /* z-index: 99; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cursor i {
    font-size: 2.3vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    padding: 17vh 2vw;
    margin-top: 8vh;
    margin-bottom: 5vw;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    left: 25vw;
}

#page3 h1::before {
    content: "02";
    position: absolute;
    font-family: "silk serif";
    font-weight: 500;
    font-size: 3.2vw;
    top: 2%;
    left: -10%;
}

#page3 .underline {
    height: 1.5px;
    width: 65%;
    background: #ffffffb2;
    margin-top: 4.5vw;
    margin-bottom: 3vw;
    left: 25%;
    position: absolute;
}

#image-div-container {
    margin-top: 10vw;
    /* background: red; */
    position: relative;
    padding: 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 32vh;
    gap: 2vw;
}

.img-div {
    height: 63vh;
    width: 22vw;
    position: relative;
    overflow: hidden;
    /* background-color: blue; */
    flex-shrink: 0;  
}
.img-div:nth-child(2){
    width: 27vw;
    height: 82vh;
}

.img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1{
    height: 22vw;
    width: 22vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48vh;
    margin-left: 13vw;
    position: relative;
}
.page3-circle1 svg{
    height: 30%;
}
.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 48vh; */
    position: relative;
}
.page3-circle2 svg{
    height: 35%;
    rotate: -45deg;
}
.circle-in{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
}

.circle-in p{
    font-size: 0.95vw;
    font-weight: 600;
    color: #000;
    width: 70%;
    scale: 0;
    opacity: 0;
    transition: all ease 0.3s;
    transition-delay: 0.7s;
}
#circle-in1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
}
#circle-in1 p{
    font-size: 1.1vw;
    font-weight: 600;
    color: #000;
    width: 80%;
    transform: translate(15.5%,30%);
    scale: 0;
    opacity: 0;
    transition: all ease 0.3s;
    transition-delay: 0.7s;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover #circle-in1{
    scale: 1;
}
.page3-circle2:hover #circle-in1 p{
    scale: 1;
    opacity: 1;
}
#page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    padding: 5vh;
    overflow-x: hidden;
    margin-top: 25vw;
}

#page4-content {
    width: 72vw;
    margin-left: 25vw;
}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-family: "silk serif";
    font-weight: 500;
    font-size: 3.2vw;
    top: 10%;
    left: -15%;
}

#page4-content .underline {
    height: 1.5px;
    width: 93%;
    background: #ffffffb2;
    margin-top: 5.5vw;
    margin-bottom: 3vw;
}

#page4-content>p {
    font-size: 2.1vw;
    font-weight: 300;
    width: 50%;
    margin-bottom: 4vw;
}

#page4-flex {
    display: flex;
}

#page4-flex img {
    width: 47%;
}

#page4-flex p {
    margin-left: 2vw;
    font-size: 1.1vw;
    width: 22%;
    font-weight: 100;
    line-height: 1.4vw;
}

#page4-blue {
    background-color: #3f7df4;
    width: 32vw;
    padding: 3vw 2.5vw;
    position: relative;
    margin-top: -32vh;
    margin-left: 23.5vw;
}

.blue-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2.2vw 0;
    border-bottom: 0.12vw solid #ffffffa2;
}

.blue-elem h4 {
    font-size: 1.7vw;
    font-weight: 300;
}

.blue-elem p {
    width: 40%;
    font-size: 1vw;
}

#page4-content h5 {
    font-size: 0.95vw;
    font-weight: 100;
    margin-top: -1vw;
    margin-bottom: 2vw;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: #151515;
    margin-top: 46.5vh;
}

.elem {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1 {
    /* background-color: red; */
    font-size: 6.5vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    animation-name: marquee;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 24px));
    }
}

.elem2 {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem2 h1 {
    /* background-color: red; */
    font-size: 6.5vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(calc(-100% - 24px));
    margin-right: 20px;
    animation-name: marquee;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span {
    font-style: italic;
    color: transparent;
    font-family: "silk serif";
}

.elem2 span {
    font-style: italic;
    color: transparent;
    font-family: "silk serif";
}

#footer {
    width: 100%;
    height: 100vh;
    background: #151515;
    position: relative;
    padding-left: 28vw;
    padding-right: 4vw;
    margin-top: 15vh;
}
#footer1{
    display: flex;
    align-items: center;
    gap: 2.2vw;
}
#footer1 img{
    width: 8vw;
    
}
#footer h1 {
    font-size: 7.5vw;
    /* background: blue; */
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}

#footer h1::before {
    content: "04";
    position: absolute;
    font-family: "silk serif";
    font-weight: 500;
    font-size: 3.2vw;
    top: 10%;
    left: -15%;
}

.underline {
    height: 2px;
    width: 100%;
    background: #fff;
    margin-top: 4vw;
}

#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12.5vw;
    padding-right: 22vw;
}
#footer-div h5 {
    font-size: 1.2vw;
    margin-top: 6vw;
    margin-bottom: 1.7vw;
    font-weight: 500;
}

#footer-div h4 {
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 1.9vw;
}

#footer-div .box {
    margin-bottom: 2vw;
}

#footer>h5 {
    font-size: 1vw;
    font-weight: 500;
    padding: 2vw 0;
}